[receive]
	requireContributorAgreement = true
[submit]
	action = merge always
	mergeContent = true
[access]
	inheritFrom = Platform-Unrestricted-Projects
[access "refs/heads/*"]
	label-Autosubmit = +0..+1 group mdb/copybara-piper
	label-Code-Review = -2..+2 group mdb/copybara-piper
	label-Code-Review = -2..+2 group mdb/rtc-dialer-eng
	label-Presubmit-Ready = +0..+1 group mdb/copybara-piper
	label-Verified = -1..+1 group mdb/copybara-piper
	label-Verified = -1..+1 group mdb/rtc-dialer-eng
	editAssignee = group mdb/rtc-dialer-eng
	abandon = group mdb/rtc-dialer-eng
	rebase = group mdb/rtc-dialer-eng
